@mixin button {
  color: white;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 5px;
  margin: 0 0.5rem;
  cursor: pointer;
  box-shadow: 1px 1px 5px black;

  &:hover {
    opacity: 0.8;
  }
}

.body {
  width: 100%;
  padding: 5rem;
  background-image: url("/image/contact01.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
  }

  .main {
    position: relative;
    z-index: 1;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .titleBox {
      width: 100%;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h4 {
        margin: 0;
      }
      h1 {
        font-size: 2rem;
        margin: 0 0 3rem;
      }
    }

    form {
      padding: 0 2rem;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .contactItem:nth-child(4) {
        margin: 2rem 0;
      }

      .contactItem {
        border-left: 5px solid white;
        width: 80%;
        display: flex;

        label {
          color: white;
          padding: 0.5rem;
          width: 200px;
          font-weight: bold;
          display: flex;
          align-items: center;
        }

        .input {
          border-radius: 5px;
          width: 100%;
          padding: 0.5rem;
          font-weight: bold;
        }

        .textarea {
          width: 100%;
          height: 120px;
          line-height: 1.8;
        }
      }
    }

    .buttonBox {
      padding: 3rem;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;

      input[type="submit"] {
        @include button;
        background-color: orangered;
        // background-color: red;
      }

      input[type="reset"] {
        @include button;
        background-color: gray;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .body {
    padding: 3rem;
    .main {
      width: 80%;

      form {
        .contactItem {
          width: 100%;
        }
      }

      .buttonBox {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .body {
    .main {
      width: 100%;

      .titleBox {
        h4 {
          font-size: 0.8rem;
        }

        h1 {
          font-size: 1.6rem;
          margin: 0 0 2rem;
        }
      }

      form {
        .contactItem {
          label,
          .input {
            font-size: 13px;
          }

          label {
            width: 150px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  @mixin button {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }

  .body {
    .main {
      .titleBox {
        h4 {
          font-size: 0.6rem;
        }

        h1 {
          font-size: 1.4rem;
          margin: 0 0 2rem;
        }
      }

      form {
        padding: 0;

        .contactItem {
          border-left: 3px solid white;

          label,
          .input {
            font-size: 12px;
          }

          label {
            width: 150px;
          }
        }
      }

      .buttonBox {
        input[type="submit"] {
          @include button;
        }

        input[type="reset"] {
          @include button;
        }
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .body {
    padding: 2.5rem;

    .main {
      .titleBox {
        h1 {
          margin: 0 0 1.5rem;
        }
      }

      form {
        .contactItem {
          label,
          .input {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .body {
    padding: 1rem;
  }
}
