.body {
  position: relative;
  top: 130px;
  width: 100%;
  min-height: calc(100vh - 130px);
}
.body .pageTitle,
.body .pageTitleCocktail {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1;
  padding: 1rem 0;
  margin-bottom: 2rem;
}
.body .pageTitle h1,
.body .pageTitleCocktail h1 {
  font-size: 2rem;
  margin: 0;
}
.body .pageTitleCocktail h1:nth-child(2) {
  margin-left: 1rem;
}
.body .pageTitleCocktail h1 {
  font-size: 2rem;
  margin: 0;
}
.body main {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/image/all-menu/barrel.jpg");
  width: 100%;
  min-height: calc(100vh - 130px);
  padding: 3rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.body main::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
}
.body main .box {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: white;
  box-shadow: 5px 5px 10px gray;
  border-radius: 10px;
  padding: 1.5rem;
  width: 65%;
}
.body main .box .sentence {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.body main .box .sentence .title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  padding: 0.8rem;
  font-size: 1.3rem;
}
.body main .box .sentence .aboutBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 0.8rem;
  font-weight: bold;
}
.body main .box .sentence .aboutBox .price {
  margin: 0 1.5rem 0 0;
  font-size: 0.9rem;
}
.body main .box .sentence .aboutBox .product p {
  margin: 0;
  font-size: 0.85rem;
}
.body main .box .sentence .detail {
  max-height: 200px;
  overflow: scroll;
  width: 100%;
  padding: 0.8rem;
  line-height: 1.8;
}
.body main .box .sentence .detail p {
  margin: 0;
  font-size: 0.9rem;
}
.body main .box .image {
  position: relative;
  width: 30%;
  height: 300px;
}
.body main .buttonBox {
  width: 65%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1;
}
.body main .buttonBox a:nth-child(2) {
  margin: 0;
}
.body main .buttonBox a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  color: white;
  z-index: 1;
  padding: 1rem 2rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}
.body main .buttonBox a:hover {
  background-color: white;
  color: black;
  transition: 300ms;
}
.body main .buttonBox a .icon {
  margin: 0 1rem 0 0;
}
.body footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(187, 187, 187);
}
.body footer p {
  margin: 0;
  color: black;
}

@media screen and (max-width: 1100px) {
  .body main .box {
    width: 75%;
  }
  .body main .buttonBox {
    width: 75%;
  }
}
@media screen and (max-width: 1024px) {
  .body main .box {
    width: 90%;
  }
  .body main .box .sentence .title {
    font-size: 1.3rem;
  }
  .body main .box .sentence .aboutBox .price {
    font-size: 0.85rem;
  }
  .body main .box .sentence .aboutBox .product p {
    font-size: 0.8rem;
  }
  .body main .box .sentence .detail p {
    font-size: 0.9rem;
  }
  .body main .box .image {
    width: 30%;
    height: 280px;
  }
  .body main .buttonBox {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .body .pageTitle h1 {
    font-size: 2rem;
  }
  .body .pageTitleCocktail h1 {
    font-size: 2rem;
  }
  .body main .box {
    width: 100%;
    flex-direction: column;
  }
  .body main .box .sentence {
    display: grid;
    grid-template: "title" "product" "about" "image"/1fr;
    width: 100%;
  }
  .body main .box .sentence .title {
    grid-area: title;
    font-size: 1.3rem;
  }
  .body main .box .sentence .aboutBox {
    grid-area: product;
  }
  .body main .box .sentence .aboutBox .price {
    font-size: 0.9rem;
  }
  .body main .box .sentence .aboutBox .product p {
    font-size: 0.85rem;
  }
  .body main .box .sentence .detail {
    grid-area: about;
  }
  .body main .box .sentence .detail p {
    font-size: 0.9rem;
  }
  .body main .box .image {
    grid-area: image;
    width: 100%;
    height: 200px;
  }
  .body main .buttonBox {
    width: 100%;
  }
  .body main .buttonBox a {
    padding: 0.8rem 1.5rem;
  }
}
@media screen and (max-width: 650px) {
  .body .pageTitleCocktail h1 {
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 550px) {
  .body .pageTitle h1 {
    font-size: 1.8rem;
  }
  .body .pageTitleCocktail {
    padding: 0.5rem 0;
    padding: 0;
    flex-direction: column;
  }
  .body .pageTitleCocktail h1 {
    font-size: 1.8rem;
  }
  .body .pageTitleCocktail h1:nth-child(1) {
    margin-bottom: 0.3rem;
  }
  .body .pageTitleCocktail h1:nth-child(2) {
    margin-left: 0;
  }
  .body main {
    padding: 2rem 2.5rem;
  }
  .body main .box {
    width: 100%;
    flex-direction: column;
    padding: 1rem;
    padding: 1rem 0.5rem;
  }
  .body main .box .sentence {
    width: 100%;
  }
  .body main .box .sentence .title {
    font-size: 1.3rem;
  }
  .body main .box .sentence .aboutBox {
    flex-direction: column;
  }
  .body main .box .sentence .aboutBox .price {
    font-size: 0.9rem;
    margin: 0 0 1rem;
  }
  .body main .box .sentence .aboutBox .product p {
    font-size: 0.8rem;
  }
  .body main .box .sentence .detail p {
    font-size: 0.9rem;
  }
  .body main .box .image {
    width: 100%;
    height: 200px;
  }
}
@media screen and (max-width: 480px) {
  .body {
    top: 100px;
  }
  .body .pageTitle {
    padding: 0;
  }
  .body .pageTitle h1 {
    font-size: 1.7rem;
  }
  .body .pageTitleCocktail h1 {
    font-size: 1.7rem;
    font-size: 1.6rem;
  }
  .body main {
    padding: 2rem 2rem;
  }
  .body main .box {
    width: 100%;
    flex-direction: column;
    padding: 0.5rem;
  }
  .body main .box .sentence {
    width: 100%;
  }
  .body main .box .sentence .title {
    font-size: 1.2rem;
    padding: 0.5rem 0;
  }
  .body main .box .sentence .aboutBox {
    flex-direction: column;
    padding: 0.5rem;
  }
  .body main .box .sentence .aboutBox .price {
    font-size: 0.9rem;
    margin: 0 0 1rem;
  }
  .body main .box .sentence .aboutBox .product p {
    font-size: 0.8rem;
  }
  .body main .box .sentence .detail {
    max-height: 200px;
    overflow: scroll;
    padding: 0.5rem;
  }
  .body main .box .sentence .detail p {
    font-size: 0.8rem;
  }
  .body main .box .image {
    width: 100%;
    height: 200px;
  }
  .body main .buttonBox {
    width: 100%;
  }
  .body main .buttonBox a {
    padding: 0.8rem 1rem;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 390px) {
  .body {
    top: 100px;
  }
  .body .pageTitle h1 {
    font-size: 1.6rem;
  }
  .body .pageTitleCocktail h1 {
    font-size: 1.45rem;
  }
  .body main {
    padding: 2rem 2rem;
  }
  .body main .box {
    width: 100%;
    flex-direction: column;
    padding: 0.5rem;
  }
  .body main .box .sentence {
    width: 100%;
  }
  .body main .box .sentence .title {
    font-size: 1rem;
    padding: 0.5rem 0;
  }
  .body main .box .sentence .aboutBox {
    flex-direction: column;
    padding: 0.5rem;
  }
  .body main .box .sentence .aboutBox .price {
    font-size: 0.8rem;
    margin: 0 0 1rem;
  }
  .body main .box .sentence .aboutBox .product p {
    font-size: 0.7rem;
  }
  .body main .box .sentence .detail {
    padding: 0.5rem;
  }
  .body main .box .sentence .detail p {
    font-size: 0.8rem;
  }
  .body main .box .image {
    width: 100%;
    height: 200px;
  }
}
@media screen and (max-width: 360px) {
  .body .pageTitle h1 {
    font-size: 1.6rem;
  }
  .body .pageTitleCocktail h1 {
    font-size: 1.35em;
  }
}
@media screen and (max-width: 320px) {
  .body .pageTitle h1 {
    font-size: 1.4rem;
  }
  .body .pageTitleCocktail h1 {
    font-size: 1.2em;
  }
}
/*# sourceMappingURL=[id].module.css.map */