.body {
  position: relative;
  top: 130px;
  width: 100%;
  min-height: calc(100vh - 130px);
}
.body .pageTitle,
.body .pageTitleCocktail {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1;
  padding: 1rem 0;
  margin-bottom: 2rem;
}
.body .pageTitle h1,
.body .pageTitleCocktail h1 {
  font-size: 2.25rem;
  margin: 0;
}
.body .pageTitleCocktail h1:nth-child(2) {
  margin-left: 1rem;
}
.body .barrelMain {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 130px);
  padding: 3rem;
  padding: 2rem;
  flex-direction: column;
  background-image: url("/image/all-menu/barrel.jpg");
}
.body .barrelMain::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
}
.body .barrelMain main {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: white;
  box-shadow: 5px 5px 10px gray;
  border-radius: 10px;
  padding: 1rem;
  width: 65%;
}
.body .barrelMain main .box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  display: grid;
  grid-template: "title image" "about image" "detail image"/70% 30%;
}
.body .barrelMain main .box .title {
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  padding: 0.8rem;
  font-size: 1.3rem;
}
.body .barrelMain main .box .aboutBox {
  grid-area: about;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 0.8rem;
  font-weight: bold;
}
.body .barrelMain main .box .aboutBox .price {
  margin: 0 1.5rem 0 0;
  font-size: 0.9rem;
}
.body .barrelMain main .box .aboutBox .product p {
  margin: 0;
  font-size: 0.85rem;
}
.body .barrelMain main .box .detail {
  grid-area: detail;
  max-height: 200px;
  overflow: scroll;
  width: 100%;
  padding: 0.8rem;
  line-height: 1.8;
}
.body .barrelMain main .box .detail p {
  margin: 0;
  font-size: 0.9rem;
}
.body .barrelMain main .image {
  grid-area: image;
  position: relative;
  height: 300px;
}
.body .barrelMain .buttonBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  color: white;
  z-index: 1;
}
.body .barrelMain .buttonBox a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  color: white;
  z-index: 1;
  padding: 1rem 2rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}
.body .barrelMain .buttonBox a:hover {
  background-color: white;
  color: black;
  transition: 300ms;
}
.body .barrelMain .buttonBox a .icon {
  margin: 0 1rem 0 0;
}
.body .bottleMain {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 130px);
  padding: 3rem;
  padding: 2rem;
  flex-direction: column;
  background-image: url("/image/all-menu/bottle.jpg");
}
.body .bottleMain::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
}
.body .bottleMain main {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: white;
  box-shadow: 5px 5px 10px gray;
  border-radius: 10px;
  padding: 1rem;
  width: 65%;
}
.body .bottleMain main .box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  display: grid;
  grid-template: "title image" "about image" "detail image"/70% 30%;
}
.body .bottleMain main .box .title {
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  padding: 0.8rem;
  font-size: 1.3rem;
}
.body .bottleMain main .box .aboutBox {
  grid-area: about;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 0.8rem;
  font-weight: bold;
}
.body .bottleMain main .box .aboutBox .price {
  margin: 0 1.5rem 0 0;
  font-size: 0.9rem;
}
.body .bottleMain main .box .aboutBox .product p {
  margin: 0;
  font-size: 0.85rem;
}
.body .bottleMain main .box .detail {
  grid-area: detail;
  max-height: 200px;
  overflow: scroll;
  width: 100%;
  padding: 0.8rem;
  line-height: 1.8;
}
.body .bottleMain main .box .detail p {
  margin: 0;
  font-size: 0.9rem;
}
.body .bottleMain main .image {
  grid-area: image;
  position: relative;
  height: 300px;
}
.body .bottleMain .buttonBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  color: white;
  z-index: 1;
}
.body .bottleMain .buttonBox a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  color: white;
  z-index: 1;
  padding: 1rem 2rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}
.body .bottleMain .buttonBox a:hover {
  background-color: white;
  color: black;
  transition: 300ms;
}
.body .bottleMain .buttonBox a .icon {
  margin: 0 1rem 0 0;
}
.body .cocktailMain {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 130px);
  padding: 3rem;
  padding: 2rem;
  flex-direction: column;
  background-image: url("/image/all-menu/cocktail.jpg");
}
.body .cocktailMain::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
}
.body .cocktailMain main {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: white;
  box-shadow: 5px 5px 10px gray;
  border-radius: 10px;
  padding: 1rem;
  width: 65%;
}
.body .cocktailMain main .box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  display: grid;
  grid-template: "title image" "about image" "detail image"/70% 30%;
}
.body .cocktailMain main .box .title {
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  padding: 0.8rem;
  font-size: 1.3rem;
}
.body .cocktailMain main .box .aboutBox {
  grid-area: about;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 0.8rem;
  font-weight: bold;
}
.body .cocktailMain main .box .aboutBox .price {
  margin: 0 1.5rem 0 0;
  font-size: 0.9rem;
}
.body .cocktailMain main .box .aboutBox .product p {
  margin: 0;
  font-size: 0.85rem;
}
.body .cocktailMain main .box .detail {
  grid-area: detail;
  max-height: 200px;
  overflow: scroll;
  width: 100%;
  padding: 0.8rem;
  line-height: 1.8;
}
.body .cocktailMain main .box .detail p {
  margin: 0;
  font-size: 0.9rem;
}
.body .cocktailMain main .image {
  grid-area: image;
  position: relative;
  height: 300px;
}
.body .cocktailMain .buttonBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  color: white;
  z-index: 1;
}
.body .cocktailMain .buttonBox a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  color: white;
  z-index: 1;
  padding: 1rem 2rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}
.body .cocktailMain .buttonBox a:hover {
  background-color: white;
  color: black;
  transition: 300ms;
}
.body .cocktailMain .buttonBox a .icon {
  margin: 0 1rem 0 0;
}
.body footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: rgb(187, 187, 187);
}
.body footer p {
  margin: 0;
  color: white;
  font-size: 0.9em;
}

@media screen and (min-width: 1500px) {
  .body .barrelMain .pageTitle,
.body .barrelMain .pageTitleCocktail,
.body .bottleMain .pageTitle,
.body .bottleMain .pageTitleCocktail,
.body .cocktailMain .pageTitle,
.body .cocktailMain .pageTitleCocktail {
    margin-bottom: 3.5rem;
  }
  .body .barrelMain .pageTitle h1,
.body .barrelMain .pageTitleCocktail h1,
.body .bottleMain .pageTitle h1,
.body .bottleMain .pageTitleCocktail h1,
.body .cocktailMain .pageTitle h1,
.body .cocktailMain .pageTitleCocktail h1 {
    font-size: 3rem;
  }
  .body .barrelMain main,
.body .bottleMain main,
.body .cocktailMain main {
    width: 50%;
    padding: 3rem;
  }
  .body .barrelMain .buttonBox,
.body .bottleMain .buttonBox,
.body .cocktailMain .buttonBox {
    margin-top: 3.5rem;
  }
}
@media screen and (max-width: 1100px) {
  .body .barrelMain main,
.body .bottleMain main,
.body .cocktailMain main {
    width: 75%;
  }
}
@media screen and (max-width: 1024px) {
  .body .barrelMain main,
.body .bottleMain main,
.body .cocktailMain main {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .body .pageTitleCocktail h1 {
    font-size: 1.95rem;
  }
  .body .barrelMain,
.body .bottleMain,
.body .cocktailMain {
    background-size: 100%;
    background-position: top;
    background-repeat: repeat-y;
  }
  .body .barrelMain main,
.body .bottleMain main,
.body .cocktailMain main {
    width: 80%;
  }
  .body .barrelMain main .box,
.body .bottleMain main .box,
.body .cocktailMain main .box {
    grid-template: "title" "about" "image" "detail"/1fr;
    width: 100%;
  }
  .body .barrelMain main .box .title,
.body .bottleMain main .box .title,
.body .cocktailMain main .box .title {
    grid-area: title;
    padding: 0.8rem 0;
    font-size: 1.3rem;
    width: 100%;
  }
  .body .barrelMain main .box .aboutBox,
.body .bottleMain main .box .aboutBox,
.body .cocktailMain main .box .aboutBox {
    flex-direction: column;
    padding: 0.8rem 0;
    grid-area: about;
  }
  .body .barrelMain main .box .aboutBox .price,
.body .bottleMain main .box .aboutBox .price,
.body .cocktailMain main .box .aboutBox .price {
    margin: 0 0 1.6rem;
    font-size: 1rem;
    font-size: 0.9rem;
  }
  .body .barrelMain main .box .aboutBox .product p,
.body .bottleMain main .box .aboutBox .product p,
.body .cocktailMain main .box .aboutBox .product p {
    margin: 0;
    font-size: 0.9rem;
    font-size: 0.85rem;
  }
  .body .barrelMain main .box .detail,
.body .bottleMain main .box .detail,
.body .cocktailMain main .box .detail {
    grid-area: detail;
  }
  .body .barrelMain main .box .detail p,
.body .bottleMain main .box .detail p,
.body .cocktailMain main .box .detail p {
    font-size: 0.9rem;
  }
  .body .barrelMain main .image,
.body .bottleMain main .image,
.body .cocktailMain main .image {
    grid-area: image;
    width: 100%;
    height: 200px;
  }
  .body .barrelMain .buttonBox a,
.body .bottleMain .buttonBox a,
.body .cocktailMain .buttonBox a {
    padding: 0.8rem 1.5rem;
  }
  .body footer {
    height: 40px;
  }
  .body footer p {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 600px) {
  .body .pageTitleCocktail {
    flex-direction: column;
    padding: 0;
    padding: 1rem 0;
  }
  .body .pageTitleCocktail h1:nth-child(1) {
    margin-bottom: 0.3rem;
  }
  .body .pageTitleCocktail h1:nth-child(2) {
    margin-left: 0rem;
  }
  .body .barrelMain main,
.body .bottleMain main,
.body .cocktailMain main {
    width: 90%;
  }
}
@media screen and (max-width: 520px) {
  .body .pageTitleCocktail h1 {
    font-size: 1.8rem;
  }
  .body .barrelMain main,
.body .bottleMain main,
.body .cocktailMain main {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .body {
    top: 100px;
  }
  .body .pageTitle {
    margin-bottom: 1rem;
  }
  .body .pageTitle h1 {
    font-size: 1.8rem;
  }
  .body .pageTitleCocktail {
    margin-bottom: 1rem;
  }
  .body .pageTitleCocktail h1 {
    font-size: 1.5rem;
  }
  .body .barrelMain,
.body .bottleMain,
.body .cocktailMain {
    padding: 1rem;
  }
  .body .barrelMain main,
.body .bottleMain main,
.body .cocktailMain main {
    padding: 0.5rem;
    width: 90%;
  }
  .body .barrelMain main .box .title,
.body .bottleMain main .box .title,
.body .cocktailMain main .box .title {
    font-size: 0.95rem;
  }
  .body .barrelMain main .box .aboutBox .price,
.body .bottleMain main .box .aboutBox .price,
.body .cocktailMain main .box .aboutBox .price {
    font-size: 0.85rem;
  }
  .body .barrelMain main .box .aboutBox .product p,
.body .bottleMain main .box .aboutBox .product p,
.body .cocktailMain main .box .aboutBox .product p {
    font-size: 0.75rem;
  }
  .body .barrelMain main .box .detail p,
.body .bottleMain main .box .detail p,
.body .cocktailMain main .box .detail p {
    font-size: 0.8rem;
  }
  .body .barrelMain main .image,
.body .bottleMain main .image,
.body .cocktailMain main .image {
    height: 180px;
  }
  .body .barrelMain .buttonBox,
.body .bottleMain .buttonBox,
.body .cocktailMain .buttonBox {
    margin: 2rem 0 1rem;
  }
  .body .barrelMain .buttonBox a,
.body .bottleMain .buttonBox a,
.body .cocktailMain .buttonBox a {
    padding: 0.7rem 1.7rem;
  }
  .body footer {
    height: 40px;
  }
  .body footer p {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 400px) {
  .body .pageTitle h1 {
    font-size: 1.7rem;
  }
  .body .pageTitleCocktail h1 {
    font-size: 1.35rem;
  }
}
@media screen and (max-width: 360px) {
  .body .pageTitle h1 {
    font-size: 1.5rem;
  }
  .body .barrelMain main,
.body .bottleMain main,
.body .cocktailMain main {
    width: 100%;
  }
  .body .barrelMain main .box .title,
.body .bottleMain main .box .title,
.body .cocktailMain main .box .title {
    font-size: 0.9rem;
  }
  .body .barrelMain main .box .aboutBox .price,
.body .bottleMain main .box .aboutBox .price,
.body .cocktailMain main .box .aboutBox .price {
    font-size: 0.8rem;
  }
  .body .barrelMain main .box .aboutBox .product p,
.body .bottleMain main .box .aboutBox .product p,
.body .cocktailMain main .box .aboutBox .product p {
    font-size: 0.7rem;
  }
  .body .barrelMain main .box .detail p,
.body .bottleMain main .box .detail p,
.body .cocktailMain main .box .detail p {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 340px) {
  .body .pageTitle h1 {
    font-size: 1.4rem;
  }
  .body .pageTitleCocktail h1 {
    font-size: 1.25rem;
  }
  .body .barrelMain main .box .title,
.body .bottleMain main .box .title,
.body .cocktailMain main .box .title {
    padding: 0.8rem 0;
    font-size: 0.8rem;
  }
  .body .barrelMain main .box .aboutBox .price,
.body .bottleMain main .box .aboutBox .price,
.body .cocktailMain main .box .aboutBox .price {
    font-size: 0.75rem;
  }
  .body .barrelMain main .box .aboutBox .product p,
.body .bottleMain main .box .aboutBox .product p,
.body .cocktailMain main .box .aboutBox .product p {
    font-size: 0.65rem;
  }
  .body .barrelMain main .detailBox .detail p,
.body .bottleMain main .detailBox .detail p,
.body .cocktailMain main .detailBox .detail p {
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=[id].module.css.map */