@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin main {
  // border: 3px
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
  }

  width: 100%;
  min-height: calc(100vh - 130px);
  padding: 3rem;
  padding: 2rem;
  @include center;
  flex-direction: column;

  main {
    @include center;
    z-index: 1;
    background-color: white;
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;

    padding: 1rem;
    width: 65%;

    .box {
      width: 100%;
      @include center;
      flex-direction: column;
      display: grid;
      grid-template:
        "title image"
        "about image"
        "detail image"
        /70% 30%;

      .title {
        grid-area: title;

        @include center;
        margin: 0;
        width: 100%;
        padding: 0.8rem;
        font-size: 1.3rem;
      }

      .aboutBox {
        grid-area: about;

        @include center;
        flex-direction: row;
        width: 100%;
        padding: 0.8rem;
        font-weight: bold;

        .price {
          margin: 0 1.5rem 0 0;
          font-size: 0.9rem;
        }

        .product {
          p {
            margin: 0;
            font-size: 0.85rem;
          }
        }
      }

      .detail {
        grid-area: detail;

        max-height: 200px;
        overflow: scroll;
        width: 100%;
        padding: 0.8rem;
        line-height: 1.8;

        p {
          margin: 0;
          font-size: 0.9rem;
        }
      }
    }

    .image {
      grid-area: image;

      position: relative;
      width: 30%;
      width: 100%;
      height: 300px;
    }
  }

  .buttonBox {
    width: 65%;
    margin-top: 2rem;
    @include center;
    color: white;
    z-index: 1;

    a:nth-child(2) {
      margin: 0;
    }

    a {
      @include center;
      border: 1px solid white;
      color: white;
      z-index: 1;
      padding: 1rem 2rem;
      font-weight: bold;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        background-color: white;
        color: black;
        transition: 300ms;
      }

      .icon {
        margin: 0 1rem 0 0;
      }
    }
  }
}

// 🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥

.body {
  position: relative;
  top: 130px;
  width: 100%;
  min-height: calc(100vh - 130px);

  .pageTitle,
  .pageTitleCocktail {
    @include center;
    color: white;
    z-index: 1;
    padding: 1rem 0;
    margin-bottom: 2rem;

    h1 {
      font-size: 2.25rem;
      margin: 0;
    }
  }

  .pageTitleCocktail {
    h1:nth-child(2) {
      margin-left: 1rem;
    }
  }

  .barrelMain {
    @include main;
    background-image: url("/image/all-menu/barrel.jpg");
  }

  .bottleMain {
    @include main;
    background-image: url("/image/all-menu/bottle.jpg");
  }

  .cocktailMain {
    @include main;
    background-image: url("/image/all-menu/cocktail.jpg");
  }

  footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(187 187 187);

    p {
      margin: 0;
      color: white;
      font-size: 1em;
      font-size: 0.9em;
    }
  }
}

// 💡💡💡💡💡💡💡💡💡💡💡💡💡💡💡💡💡💡💡💡💡

@media screen and (min-width: 1500px) {
  .body {
    .barrelMain,
    .bottleMain,
    .cocktailMain {
      .pageTitle,
      .pageTitleCocktail {
        margin-bottom: 3.5rem;

        h1 {
          font-size: 3rem;
        }
      }

      main {
        width: 50%;
        padding: 3rem;
      }

      .buttonBox {
        margin-top: 3.5rem;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .body {
    .barrelMain,
    .bottleMain,
    .cocktailMain {
      main {
        width: 75%;
      }
      .buttonBox {
        width: 75%;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .body {
    .barrelMain,
    .bottleMain,
    .cocktailMain {
      main {
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .body {
    .pageTitleCocktail {
      h1 {
        font-size: 1.95rem;
      }
    }

    .barrelMain,
    .bottleMain,
    .cocktailMain {
      // 💎💎💎💎💎💎💎💎💎💎
      background-size: 100%;
      background-position: top;
      background-repeat: repeat-y;
      // 💎💎💎💎💎💎💎💎💎💎

      main {
        width: 80%;

        .box {
          grid-template:
            "title"
            "about"
            "image"
            "detail"
            / 1fr;
          width: 100%;

          .title {
            grid-area: title;
            padding: 0.8rem 0;
            font-size: 1.3rem;
            width: 100%;
          }

          .aboutBox {
            flex-direction: column;
            padding: 0.8rem 0;
            grid-area: about;

            .price {
              margin: 0 0 1.6rem;
              font-size: 1rem;
              font-size: 0.9rem;
            }

            .product {
              p {
                margin: 0;
                font-size: 0.9rem;
                font-size: 0.85rem;
              }
            }
          }

          .detail {
            grid-area: detail;
            p {
              font-size: 0.9rem;
            }
          }
        }
        .image {
          grid-area: image;
          width: 100%;
          height: 200px;
        }
      }

      .buttonBox {
        width: 100%;

        a {
          padding: 0.8rem 1.5rem;
        }
      }
    }

    footer {
      height: 40px;

      p {
        font-size: 0.9em;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .body {
    .pageTitleCocktail {
      flex-direction: column;
      padding: 0;
      padding: 1rem 0;

      h1:nth-child(1) {
        margin-bottom: 0.3rem;
      }
      h1:nth-child(2) {
        margin-left: 0rem;
      }
    }

    .barrelMain,
    .bottleMain,
    .cocktailMain {
      main {
        width: 90%;
      }
    }
  }
}

// 🔥1列表示に変更🔥

@media screen and (max-width: 520px) {
  .body {
    .pageTitleCocktail {
      h1 {
        font-size: 1.8rem;
      }
    }

    .barrelMain,
    .bottleMain,
    .cocktailMain {
      main {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .body {
    top: 100px;
    .pageTitle {
      margin-bottom: 1rem;

      h1 {
        font-size: 1.8rem;
      }
    }

    .pageTitleCocktail {
      margin-bottom: 1rem;

      h1 {
        font-size: 1.5rem;
      }
    }

    .barrelMain,
    .bottleMain,
    .cocktailMain {
      padding: 1rem;

      main {
        padding: 0.5rem;
        width: 90%;

        .box {
          .title {
            font-size: 0.95rem;
          }

          .aboutBox {
            .price {
              font-size: 0.85rem;
            }

            .product {
              p {
                font-size: 0.75rem;
              }
            }
          }

          .detail {
            p {
              font-size: 0.8rem;
            }
          }
        }
        .image {
          height: 180px;
        }
      }

      .buttonBox {
        margin: 2rem 0 1rem;

        a {
          padding: 0.7rem 1.7rem;
        }
      }
    }
    footer {
      height: 40px;

      p {
        font-size: 0.8em;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .body {
    .pageTitle {
      h1 {
        font-size: 1.7rem;
      }
    }

    .pageTitleCocktail {
      h1 {
        font-size: 1.35rem;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .body {
    .pageTitle {
      h1 {
        font-size: 1.5rem;
      }
    }

    .barrelMain,
    .bottleMain,
    .cocktailMain {
      main {
        width: 100%;

        .box {
          .title {
            font-size: 0.9rem;
          }

          .aboutBox {
            .price {
              font-size: 0.8rem;
            }

            .product {
              p {
                font-size: 0.7rem;
              }
            }
          }
          .detail {
            p {
              font-size: 0.75rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 340px) {
  .body {
    .pageTitle {
      h1 {
        font-size: 1.4rem;
      }
    }

    .pageTitleCocktail {
      h1 {
        font-size: 1.25rem;
      }
    }

    .barrelMain,
    .bottleMain,
    .cocktailMain {
      main {
        .box {
          .title {
            padding: 0.8rem 0;
            font-size: 0.8rem;
          }

          .aboutBox {
            .price {
              font-size: 0.75rem;
            }

            .product {
              p {
                font-size: 0.65rem;
              }
            }
          }
        }

        .detailBox {
          .detail {
            p {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}
