// 🔗🔗🔗🔗🔗🔗🔗🔗＠mixin🔗🔗🔗🔗🔗🔗🔗🔗🔗🔗

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin menuItem {
  .menuItem {
    width: 80%;

    .aboutBox {
      .title {
        font-size: 15.5px;
        padding: 0 0.5rem;
      }
      .price {
        font-size: 14px;
      }
      .product {
        font-size: 14px;
      }
    }
  }
}

@mixin parts {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  padding: 1rem;
  @include center;
  flex-wrap: wrap;

  &::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
  }

  .menuItem {
    z-index: 1;
    background-color: white;
    box-shadow: 5px 5px 10px gray;
    box-sizing: content-box;
    border-radius: 5px;
    width: calc(33% - 32px);
    height: 440px;
    margin: 1rem;
    padding: 1rem 0;
    display: grid;
    grid-template:
      "about" 180px
      "image" 180px
      "button" 80px;

    .aboutBox {
      grid-area: about;
      width: 100%;

      .title {
        width: 100%;
        height: 60px;
        font-size: 18px;
        padding: 0.5rem;
        font-weight: bold;
        @include center;
      }

      .price {
        width: 100%;
        height: 20px;
        font-size: 15px;
        font-weight: bold;
        @include center;
      }

      .product {
        height: 100px;
        font-size: 15px;
        margin: 0;
        @include center;
      }
    }

    .imageBox {
      @include center;
      width: 100%;
      height: 100%;

      .image {
        grid-area: image;
        height: 180px;
        width: 200px;
        position: relative;
        @include center;
      }
    }
    .buttonBox {
      grid-area: button;
      width: 100%;
      @include center;

      a {
        padding: 0.8rem 1rem;
        border: 1px solid black;
        border-radius: 5px;
        margin: 0.5rem;
        font-weight: bold;
        @include center;

        .icon {
          margin-left: 0.5rem;
        }

        &:hover {
          color: white;
          background-color: black;
          transition: 300ms;
        }
      }
    }
  }
}

@mixin section {
  @include center;
  .titleSection {
    @include center;
    color: white;
    z-index: 1;
    padding: 1rem;
    width: 100%;
    h1 {
      margin: 0;
      font-size: 2.25rem;
    }
  }

  main {
    @include parts;
  }
}

// 🔥🔥🔥🔥🔥🔥🔥🔥メイン🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥

.body {
  position: relative;
  top: 130px;
  width: 100%;
  min-height: 100vh;

  .barrel {
    @include section;
    main {
      // 💎💎💎💎💎💎💎💎💎💎💎
      padding: 116px 1rem 1rem;
      background-image: url("/image/all-menu/barrel.jpg");
    }
  }

  .bottle {
    @include section;
    main {
      background-image: url("/image/all-menu/bottle.jpg");
    }
  }

  .cocktail {
    @include section;
    main {
      background-image: url("/image/all-menu/cocktail.jpg");
    }
  }

  footer {
    @include center;
    width: 100%;
    height: 50px;
    background-color: rgb(178 178 178);

    p {
      margin: 0;
      color: white;
    }
  }
}

// 💡💡💡💡💡💡💡💡💡💡💡💡💡💡💡💡💡💡💡💡💡💡

@media screen and (min-width: 1500px) {
  .body {
    .barrel {
      main {
        // 💎💎💎💎💎💎💎💎💎💎💎
        padding: 116px 10rem 1rem;
      }
    }
    .bottle,
    .cocktail {
      main {
        padding: 1rem 10rem;
      }
    }
  }
}

@media screen and (max-width: 1155px) {
  .body {
    .barrel,
    .bottle,
    .cocktail {
      main {
        .menuItem {
          .aboutBox {
            .title {
              font-size: 16px;
            }
            .price {
              font-size: 13px;
            }
            .product {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1050px) {
  .body {
    .barrel,
    .bottle,
    .cocktail {
      main {
        .menuItem {
          .aboutBox {
            .title {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

//🔥🔥🔥ここから2列に変更🔥🔥🔥

@media screen and (max-width: 1000px) {
  .body {
    .barrel,
    .bottle,
    .cocktail {
      main {
        background-size: 100%;
        background-position: top;
        background-repeat: repeat-y;
        .menuItem {
          width: calc(50% - 32px);

          .aboutBox {
            .title {
              font-size: 17px;
            }
            .price {
              font-size: 14px;
            }
            .product {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .body {
    .barrel,
    .bottle,
    .cocktail {
      main {
        .menuItem {
          width: calc(50% - 32px);

          .aboutBox {
            .title {
              font-size: 14px;
            }
            .price {
              font-size: 12px;
            }
            .product {
              font-size: 12px;
            }
          }

          .buttonBox {
            a {
              padding: 0.5rem 1.2rem;
            }
          }
        }
      }
    }
  }
}

//🔥🔥🔥ここから1列に変更🔥🔥🔥

@media screen and (max-width: 650px) {
  .body {
    .barrel,
    .bottle,
    .cocktail {
      main {
        .menuItem {
          width: 75%;
          margin: 1rem 0;

          .aboutBox {
            .title {
              font-size: 18px;
              padding: 0 0.5rem;
            }
            .price {
              font-size: 15px;
            }
            .product {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

//💡 ここからbarrel,bottoleのfont-sizeは変更がなく統一
//💡 ここからcacktailのみfont-sizeが変わっていく

@media screen and (max-width: 480px) {
  .body {
    top: 100px;

    .barrel {
      .titleSection {
        h1 {
          font-size: 1.8rem;
        }
      }
      main {
        // 💎💎💎💎💎💎💎💎💎💎💎
        padding: 148px 1rem 1rem;
        @include menuItem;
      }
    }

    .bottle {
      .titleSection {
        h1 {
          font-size: 1.8rem;
        }
      }
      main {
        @include menuItem;
      }
    }

    .cocktail {
      .titleSection {
        h1 {
          font-size: 1.7rem;
        }
      }
      main {
        @include menuItem;
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .body {
    .barrel,
    .bottle {
      main {
        .menuItem {
          width: 85%;

          .aboutBox {
            .title {
              font-size: 14.5px;
              padding: 0 0.5rem;
            }
            .price {
              font-size: 13px;
            }
            .product {
              font-size: 13px;
            }
          }
        }
      }
    }

    .cocktail {
      .titleSection {
        h1 {
          font-size: 1.45rem;
        }
      }
      main {
        .menuItem {
          width: 85%;

          .aboutBox {
            .title {
              font-size: 14.5px;
              padding: 0 0.5rem;
            }
            .price {
              font-size: 13px;
            }
            .product {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 360px) {
  .body {
    .barrel,
    .bottle {
      main {
        .menuItem {
          .aboutBox {
            .title {
              font-size: 13px;
            }
            .price {
              font-size: 12px;
            }
            .product {
              font-size: 12px;
            }
          }
        }
      }
    }

    .cocktail {
      main {
        .menuItem {
          .aboutBox {
            .title {
              font-size: 13px;
            }
            .price {
              font-size: 12px;
            }
            .product {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .body {
    .barrel,
    .bottle {
      main {
        .menuItem {
          width: 90%;
        }
      }
    }

    .cocktail {
      main {
        .menuItem {
          width: 90%;
        }
      }
    }
  }
}
