@mixin parts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .titleSection {
    border: 5px solid black;
    background-color: black;
    color: white;
    padding: 1rem;
    width: 100%;
    h1 {
      margin: 0;
    }
  }

  .menuSection {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .menuItem {
      // border: 3px solid black;
      box-shadow: 5px 5px 10px gray;
      box-sizing: content-box;
      border-radius: 5px;
      width: calc(33% - 4rem);
      height: 500px;
      margin: 1rem;

      display: grid;
      grid-template:
        "about" 200px
        "image" 200px
        "button" 100px;

      .aboutBox {
        grid-area: about;
        width: 100%;
        // border-bottom: 1px solid black;

        .title {
          width: 100%;
          height: 60px;
          font-size: 18px;
          padding: 0.5rem;
          font-weight: bold;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .price {
          width: 100%;
          height: 30px;
          font-size: 15px;
          padding: 0.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .product {
          height: 110px;
          font-size: 15px;
          margin: 0;
          padding: 0.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .imageBox {
        grid-area: image;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .image {
          object-fit: contain;
        }
      }

      .buttonBox {
        grid-area: button;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          padding: 1rem 2rem;
          border: 1px solid black;
          border-radius: 5px;
          margin: 0.5rem;

          &:hover {
            color: white;
            background-color: black;
          }
        }
      }
    }
  }
}

.body {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template:
    "head" 80px
    "barrel"
    "bottle"
    "cocktail"
    / 1fr;

  .pageTitle {
    grid-area: head;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(187, 187, 187);
    h1 {
      margin: 0;
    }
  }

  .barrel {
    grid-area: barrel;
    @include parts;
  }

  .bottle {
    grid-area: bottle;
    @include parts;
  }

  .cocktail {
    grid-area: cocktail;
    @include parts;
  }
}

@media screen and (min-width: 1170px) and (max-width: 1280px) {
  .body {
    .barrel,
    .bottle,
    .cocktail {
      .menuSection {
        .menuItem {
          .aboutBox {
            .titleBox {
              .title {
                font-size: 16px;
              }
            }

            .sentenceBox {
              .price {
                font-size: 13px;
              }

              .product {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1170px) {
  .body {
    .barrel,
    .bottle,
    .cocktail {
      .menuSection {
        .menuItem {
          width: calc(50% - 4rem);

          .aboutBox {
            .titleBox {
              .title {
                font-size: 18px;
              }
            }

            .sentenceBox {
              .price {
                font-size: 15px;
              }

              .product {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  // @media screen and (max-width: 1024px) {
  .body {
    .barrel,
    .bottle,
    .cocktail {
      .menuSection {
        .menuItem {
          width: calc(50% - 4rem);

          .aboutBox {
            .titleBox {
              .title {
                font-size: 16px;
              }
            }

            .sentenceBox {
              .price {
                font-size: 13px;
              }

              .product {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 830px) {
  .body {
    .barrel,
    .bottle,
    .cocktail {
      .menuSection {
        .menuItem {
          width: calc(50% - 4rem);

          .aboutBox {
            .titleBox {
              .title {
                font-size: 15px;
              }
            }

            .sentenceBox {
              .price {
                font-size: 12px;
              }

              .product {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .body {
    .barrel,
    .bottle,
    .cocktail {
      .menuSection {
        .menuItem {
          width: 500px;
          height: 430px;
          display: grid;
          grid-template:
            "about" 160px
            "image" 200px
            "button" 70px;

          .aboutBox {
            background-color: white;

            .titleBox {
              .title {
                font-size: 18px;
                height: 50px;
              }
            }

            .sentenceBox {
              .price {
                font-size: 14px;
                height: 30px;
              }

              .product {
                font-size: 14px;
                height: 80px;
              }
            }
          }

          .buttonBox {
            a {
              padding: 0.5rem 1rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .body {
    .barrel,
    .bottle,
    .cocktail {
      .menuSection {
        .menuItem {
          width: 400px;
          height: 430px;
          display: grid;
          grid-template:
            "about" 160px
            "image" 200px
            "button" 70px;

          .aboutBox {
            .titleBox {
              .title {
                font-size: 18px;
                height: 50px;
              }
            }

            .sentenceBox {
              .price {
                font-size: 14px;
                height: 30px;
              }

              .product {
                font-size: 14px;
                height: 80px;
              }
            }
          }

          .buttonBox {
            a {
              padding: 0.5rem 1rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .body {
    .barrel,
    .bottle,
    .cocktail {
      .menuSection {
        .menuItem {
          width: 300px;

          .aboutBox {
            .titleBox {
              .title {
                font-size: 15px;
                height: 50px;
              }
            }

            .sentenceBox {
              .price {
                font-size: 11px;
                height: 30px;
              }

              .product {
                font-size: 11px;
                height: 80px;
              }
            }
          }
          .buttonBox {
            a {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}
