@mixin parts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .titleSection {
    border: 5px solid black;
    background-color: black;
    color: white;
    padding: 1rem;
    width: 100%;
    h1 {
      margin: 0;
    }
  }

  .menuSection {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &::after {
      content: "";
      // background-color: rgba(0, 0, 0, 0.5);
      background-color: rgba(0, 0, 0, 0.4);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 100%;
    }

    .menuItem {
      // position: absolute;

      z-index: 1;
      background-color: white;
      box-shadow: 5px 5px 10px gray;
      box-sizing: content-box;
      border-radius: 5px;
      width: calc(33% - 32px);

      height: 440px;
      margin: 1rem;
      display: grid;
      grid-template:
        "about" 180px
        "image" 180px
        "button" 80px;

      .aboutBox {
        grid-area: about;
        width: 100%;

        .title {
          width: 100%;
          height: 60px;
          font-size: 18px;
          padding: 0.5rem;
          font-weight: bold;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .price {
          width: 100%;
          height: 20px;
          font-size: 15px;
          font-weight: bold;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .product {
          height: 100px;
          font-size: 15px;
          margin: 0;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .imageBox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        .image {
          grid-area: image;
          height: 180px;
          width: 200px;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .buttonBox {
        grid-area: button;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          padding: 0.8rem 1rem;
          // padding: 0.8rem 1.5rem;
          border: 1px solid black;
          border-radius: 5px;
          margin: 0.5rem;
          font-weight: bold;
          display: flex;
          justify-content: center;
          align-items: center;

          .icon {
            margin-left: 0.5rem;
          }

          &:hover {
            color: white;
            background-color: black;
            transition: 300ms;
          }
        }
      }
    }
  }
}

// 🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥

.body {
  position: relative;
  top: 130px;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template:
    "head" 100px
    "barrel"
    "bottle"
    "cocktail"
    "footer" 50px
    / 1fr;

  .menuNav {
    grid-area: head;
  }

  .barrel {
    grid-area: barrel;
    @include parts;
    .menuSection {
      background-image: url("/image/all-menu/barrel.jpg");
    }
  }

  .bottle {
    grid-area: bottle;
    @include parts;
    .menuSection {
      background-image: url("/image/all-menu/bottle.jpg");
    }
  }

  .cocktail {
    grid-area: cocktail;
    @include parts;
    .menuSection {
      background-image: url("/image/all-menu/cocktail.jpg");
    }
  }

  footer {
    grid-area: footer;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(178 178 178);

    p {
      margin: 0;
      color: white;
    }
  }
}

@media screen and (min-width: 1500px) {
  .body {
    .barrel,
    .bottle,
    .cocktail {
      .menuSection {
        padding: 1rem 10rem;
      }
    }
  }
}

@media screen and (max-width: 1155px) {
  .body {
    .barrel,
    .bottle,
    .cocktail {
      .menuSection {
        .menuItem {
          .aboutBox {
            .title {
              font-size: 15px;
            }
            .price {
              font-size: 13px;
            }
            .product {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}

//  🔥ここから2列に変更

@media screen and (max-width: 1000px) {
  .body {
    .barrel,
    .bottle,
    .cocktail {
      .menuSection {
        .menuItem {
          width: calc(50% - 32px);

          .aboutBox {
            .title {
              font-size: 17px;
            }
            .price {
              font-size: 14px;
            }
            .product {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .body {
    .barrel,
    .bottle,
    .cocktail {
      .menuSection {
        padding: 1rem;

        .menuItem {
          width: calc(50% - 32px);

          .aboutBox {
            .title {
              font-size: 14px;
            }
            .price {
              font-size: 12px;
            }
            .product {
              font-size: 12px;
            }
          }

          .buttonBox {
            a {
              padding: 0.5rem 1.2rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .body {
    grid-template:
      "head" 100px
      "barrel"
      "bottle"
      "cocktail"
      "footer" 50px
      / 1fr;

    .barrel,
    .bottle,
    .cocktail {
      .menuSection {
        .menuItem {
          width: 75%;

          .aboutBox {
            .title {
              font-size: 18px;
              padding: 0.3rem;
            }
            .price {
              font-size: 15px;
            }
            .product {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .body {
    top: 100px;

    grid-template:
      "head" 130px
      "barrel"
      "bottle"
      "cocktail"
      "footer" 50px
      / 1fr;

    .barrel,
    .bottle,
    .cocktail {
      .titleSection {
        h1 {
          font-size: 1.2rem;
          margin: 0;
        }
      }
      .menuSection {
        .menuItem {
          width: 75%;

          .aboutBox {
            .title {
              font-size: 16px;
              padding: 0.3rem;
            }
            .price {
              font-size: 14px;
            }
            .product {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .body {
    top: 100px;
    .barrel,
    .bottle,
    .cocktail {
      .menuSection {
        .menuItem {
          width: 85%;

          .aboutBox {
            .title {
              font-size: 16px;
              padding: 0.3rem;
            }
            .price {
              font-size: 13px;
            }
            .product {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 360px) {
  .body {
    top: 100px;
    .barrel,
    .bottle,
    .cocktail {
      .menuSection {
        .menuItem {
          width: 85%;

          .aboutBox {
            .title {
              font-size: 14px;
              padding: 0.3rem;
            }
            .price {
              font-size: 12px;
            }
            .product {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
