.body {
  width: 100%;
  height: 100%;
  // border: 5px solid red;
  display: grid;
  grid-template:
    // "  head head" 80px
    // "  main archive " 1fr
    // / 1fr 200px;
  "  head head head head" 80px
  " left main archive right" 1fr
  / 60px 1fr 200px 60px;

  .header {
    grid-area: head;
    // border: 5px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(187, 187, 187);
  }

  .left {
    border: 1px dashed black;
    grid-area: left;
  }

  .right {
    border: 1px dashed black;
    grid-area: right;
  }

  // 🟥🟥🟥🟥🟥🟥メイン🟥🟥🟥🟥🟥🟥

  .main {
    // border: 5px dashed magenta;
    grid-area: main;
    // border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    // margin-left: 60px;

    .mainTitle {
      // border: 5px dashed red;
      display: flex;

      > h1 {
        // border: 1px solid black;
        font-size: 25px;
        margin: 0 0 2rem;
      }
    }

    .newsBox {
      border: 3px solid black;
      // border: 5px solid red;
      display: grid;
      width: 100%;
      //🔥heightの指定は敢えて設定していない🔥
      margin-bottom: 2rem;
      grid-template:
        "article image" 300px
        / 65% 35%;

      .news {
        // border: 5px solid blue;
        grid-area: article;
        padding: 1.5rem;
        overflow: scroll;

        .time {
          color: red;
          // color: gray;
        }

        .sentence {
          font-size: 15px;
          line-height: 1.8;
        }
      }

      .imageBox {
        // border: 5px solid green;
        grid-area: image;
        display: flex;

        .image {
          object-fit: cover;
        }
      }
    }

    .button {
      // border: 1px solid red;
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        padding: 1rem 2rem;
        margin: 0 1rem;
        border: 1px solid black;
        &:hover {
          color: white;
          background-color: gray;
        }
      }
    }
  }

  // 🟦🟦🟦🟦🟦アーカイブ🟦🟦🟦🟦🟦

  .archive {
    // border: 5px solid red;
    grid-area: archive;
    padding-top: 2rem;
    // margin-right: 60px;

    .archiveTitle {
      // border: 5px solid blue;

      > h1 {
        // border: 1px solid black;
        font-size: 25px;
        text-align: center;
        margin: 0 0 2rem;
      }
    }

    .ul {
      // border: 5px solid green;
      display: flex;
      flex-direction: column;
      height: 300px;
      width: 100%;
      padding: 1rem;
      margin: 0;
      list-style: none;
      overflow: scroll;

      .li {
        // border: 3px solid orange;
        display: flex;
        text-align: center;
        // margin-bottom: 2rem;
        margin-bottom: 1.5rem;

        .a {
          // border: 3px solid orange;
          width: 100%;
          font-size: 15px;
          padding: 0.5rem;
          border-bottom: 3px solid black;
          display: inline-block;
        }
      }
    }
  }
}

// ⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️レスポンシブ⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️

//🔴

@media screen and (max-width: 1100px) {
  .body {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template:
      "head" 80px
      "archive" 250px
      "main" 1fr
      / 1fr;

    .right,
    .left {
      display: none;
    }

    // .left {
    //   display: none;
    //   border: 5px dashed black;
    //   grid-area: left;
    // }

    // .right {
    //   display: none;
    //   border: 5px dashed black;
    //   grid-area: right;
    // }

    .main {
      padding: 1rem 2rem;
      align-items: center;

      .mainTitle {
        // border: 5px dashed red;
        width: 90%;
        display: flex;

        > h1 {
          // border: 1px solid black;
          font-size: 20px;
          margin: 0 0 1rem;
        }
      }

      .newsBox {
        width: 90%;
        // width: 100%;
      }
    }

    .archive {
      // border: 5px solid red;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 1rem 2rem;

      .archiveTitle {
        width: 90%;
        display: flex;
        > h1 {
          font-size: 20px;
          text-align: start;
          margin: 0 0 1rem;
        }
      }

      .ul {
        border: 3px solid black;
        // border: 5px solid blue;
        width: 90%;
        display: flex;
        // justify-content: center;
        flex-direction: row;
        height: 100px;
        padding: 0rem;
        padding: 0.5rem;
        overflow: scroll;
        flex-wrap: wrap;

        .li {
          margin: 0.5rem;
          width: calc(25% - 1rem);
          // border: 3px solid green;
          // padding: .5rem;

          .a {
            border: none;
            border-bottom: 3px solid black;
            // border: 3px solid red;
            padding: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            // .borderButtom {
            //   border: 1px solid black;
            //   width: 90%;
            // }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .body {
    .archive {
      .ul {
        .li {
          .a {
            font-size: 13px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 850px) {
  .body {
    .archive {
      .ul {
        .li {
          width: calc(50% - 1rem);
          .a {
            font-size: 15px;
          }
        }
      }
    }
  }
}

// 🟡
@media screen and (max-width: 768px) {
  .body {
    .main {
      align-items: center;

      .newsBox {
        border: 3px solid black;
        // background-color:red;
        // border: 5px solid red;
        display: grid;
        width: 90%;
        // width: 85%;
        // 🔥初期状態同様でheightは未設定🔥
        margin-bottom: 2rem;
        grid-template:
          "article" 250px
          "image" 250px
          / 1fr;

        .news {
          // border: 5px solid blue;
          .sentence {
            // border: 5px solid orange;
            font-size: 14px;
          }
        }

        .imageBox {
          // border: 5px solid green;
          // padding: 0rem;
          // padding: .5rem;

          .image {
            object-fit: cover;
            // object-fit: contain;
          }
        }
      }
    }

    .archive {
      .ul {
        width: 90%;
        // width: 85%;
        // padding: 1rem 3rem;
        padding: 0.5rem;

        .li {
          width: calc(50% - 1rem);
          .a {
            font-size: 15px;
            // width: 170px;
            // font-size: 12px;
          }
        }
      }
    }
  }
}

// 💎💎💎💎💎💎600px

@media screen and (max-width: 600px) {
  .body {
    .main {
      .newsBox {
        .news {
          h1 {
            font-size: 20px;
          }

          .sentence {
            font-size: 14px;
          }
        }

        // .imageBox {
        //   // padding: 1rem;
        // }
      }
    }

    .archive {
      .ul {
        width: 90%;
        padding: 0.5rem;

        .li {
          width: calc(100% - 1rem);
          display: flex;
          justify-content: center;
          align-items: center;
          // border: 3px solid skyblue;
          .a {
            font-size: 15px;
            width: 60%;
            // border: 3px solid blue;
          }
        }
      }
    }
  }
}

// 💗💗💗💗💗💗💗480px

@media screen and (max-width: 480px) {
  .body {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template:
      "head " 80px
      "archive " 200px
      " main " 1fr
      / 1fr;

    .right,
    .left {
      display: none;
    }

    .main {
      // border: 5px solid red;
      padding: 1rem 2rem;
      .mainTitle {
        width: 100%;
        > h1 {
          font-size: 20px;
          margin: 0 0 1rem;
        }
      }

      .newsBox {
        // border: 5px solid red;
        width: 100%;

        .news {
          // background-color: pink;
          padding: 0.5rem;
        }
        .imageBox {
          padding: 0;
        }
      }
    }

    .archive {
      padding: 1rem 2rem;
      .archiveTitle {
        width: 100%;
        > h1 {
          font-size: 20px;
          margin: 0 0 1rem;
        }
      }

      .ul {
        // border: 5px solid blue;
        width: 100%;
        .li {
          width: 100%;
          font-size: 15px;
          .a {
            width: 60%;
            // background-color: skyblue;
            font-size: 14px;

            .borderButtom {
              border: 1px solid black;
              width: 60%;
            }
          }
        }
      }
    }
  }
}

//🔥 エラー原因を調査しているので一時できに非表示🔥

// @media screen and (max-width: 600px) {
//   .body {
//     .main {
//       .newsBox {
//         .news {
//           > h1 {
//             font-size: 20px;
//           }
//         }
//       }
//     }

//     .archive {
//       .ul {
//         border: 1px solid black;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         // justify-content: start;
//         height: 100px;
//         padding: 1rem;
//         overflow: scroll;
//         flex-wrap: nowrap;

//         .li {
//           margin-bottom: 0;

//           .a {
//             width: 170px;
//             margin: 0 0.5rem 0.5rem;
//           }
//         }
//       }
//     }
//   }
// }

// 🌟🌟🌟🌟1440px以上の場合のレスポンシブデザイン 🌟🌟🌟🌟
