@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

@mixin after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  content: "";
}

//游댠游댠游댠游댠游댠游댠游댠游댠游댠游댠游댠游댠游댠

.body {
  position: fixed;
  width: 100%;
  height: 100vh;
  padding-top: 130px;
  border-top: none;
  background-image: url("/image/blog-link.jpg");
  background-image: url("/image//all-menu/cocktail.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &::after {
    @include after;
    background-color: rgba(0, 0, 0, 0.4);
  }

  @mixin scroll {
    width: 3rem;
    margin-left: 1.5rem;
    position: relative;
    @include center;
    align-items: flex-start;

    .scrollBox {
      position: fixed;
      bottom: calc(50px + 1rem);
      color: white;
      @include center;
      flex-direction: column;

      .scrollTop {
        margin-bottom: 0.8rem;
      }

      .scrollTop,
      .scrollDown {
        &:hover {
          transition: 300ms;
          color: orangered;
        }
      }
    }
  }

  // 游눑游눑游눑游눑游눑游눑游눑游눑游눑游눑游눑游눑游눑

  main {
    // border: 3px solid red;
    position: relative;
    z-index: 20;
    width: 100%;
    height: calc(100vh - 230px);
    @include center;

    .mainSection {
      // border: 3px solid blue;
      width: 100%;
      height: calc(100vh - 230px);
      position: fixed;

      .sectionTitle {
        // border: 3px solid red;
        // border: 3px dashed red;
        width: calc(100% - 250px); //游댠游댠游댠
        height: 100px;
        color: white;
        display: flex;
        align-items: center;

        .title {
          // border: 3px solid blue;
          width: calc(100% - 6rem);
          margin-left: 1.5rem;
          @include center;

          h1 {
            margin: 0;
            font-size: 1.8rem;
          }
        }
      }

      .articleSection {
        // border: 3px solid greenyellow;
        width: 100%;
        height: calc(100vh - 330px);
        overflow: scroll;

        .outLine {
          // border: 3px solid magenta;
          width: calc(100% - 250px);
          min-height: calc(100vh - 380px); //游깷游깷游깷
          display: flex;

          h1 {
            margin: 0;
          }

          .articleBox {
            // border: 3px solid aqua;
            width: calc(100% - 3rem);
            padding: 0 0 3rem 1.5rem;

            .articleItem {
              // border: 5px solid red;
              background-color: white;
              width: 100%;
              min-height: 250px; //游깷游깷游깷
              padding: 1.5rem;

              margin-bottom: 3rem;
              border-radius: 10px;
              box-sizing: content-box;
              @include center;

              .sentenceBox {
                // border: 5px solid blue;
                width: calc(100% - 350px);
                height: 250px; //游깷游깷游깷
                padding-right: 1rem;
                @include center;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;

                .articleTitle {
                  margin: 0;
                  margin-bottom: 1rem;
                  font-size: 1.3rem;
                }
                .publishedAt {
                  margin-bottom: 1rem;
                  font-size: 1rem;
                }

                .sentence {
                  overflow: scroll;
                  p {
                    margin: 0;
                    line-height: 1.8;

                    font-size: 0.9rem;
                  }
                }
              }

              .imageBox {
                // border: 5px solid greenyellow;
                width: 350px;
                height: 250px; //游깷游깷游깷

                .image {
                  width: 100%;
                  height: 100%;
                  position: relative;
                }
              }
            }

            .buttonBox {
              @include center;

              .button {
                border: 1px solid white;
                color: white;
                padding: 1rem 1.3rem;
                border-radius: 5px;
                font-weight: bold;
                @include center;

                .icon {
                  margin-left: 0.8rem;
                  color: white;
                }

                &:hover {
                  background-color: white;
                  color: black;
                  transition: 300ms;

                  .icon {
                    color: black;
                  }
                }
              }
            }
          }

          //游눍游눍游눍

          .scrollSection {
            @include scroll;
          }

          //游눍游눍游눍

          // 救넖잺救넖잺救넖잺
          .scrollSectionSecond {
            @include scroll;
            width: 2rem;
            position: fixed;
            right: 0.5rem;
            display: none;
          }
          // 救넖잺救넖잺救넖잺
        }

        footer {
          @include center;
          opacity: 0.7;
          background-color: rgb(178, 178, 178);
          color: white;
          width: 100%;
          height: 50px;
        }
      }
    }
  }

  .navSection {
    // border: 3px solid red;
    z-index: 20;
    width: 250px; //游댠游댠游댠
    height: calc(100vh - 280px);
    position: fixed;
    top: 230px;
    right: 0;
    @include center;
    flex-direction: column;
    justify-content: flex-start;

    .navSectionTitle {
      // border: 3px solid blue;
      color: white;
      width: 100%;
      height: 100px;
      @include center;

      .title {
        h1 {
          margin: 0;
          font-size: 1.8em;
        }
      }
    }

    ul {
      // border: 3px solid green;
      width: 100%;
      // 424 = 130 + 100 + 100 + 50 + (32 + 32)
      height: calc(100vh - 444px);
      padding: 0 1.5rem; //游댠游댠游댠

      margin: 0;
      list-style: none;
      overflow: scroll;

      @include center;
      justify-content: flex-start;
      flex-direction: column;

      li {
        width: 100%;
        margin-bottom: 2rem;
        @include center;

        a {
          background-color: darkorange;
          color: white;
          width: 100%;
          padding: 0.8rem; //游댠游댠游댠

          @include center;
          border-radius: 10px;
          font-weight: bold;

          &:hover {
            background-color: orange;
            border-radius: 10px;
            transition: 300ms;
          }
        }
      }
    }
  }
}

// 游댯游댯游댯游댯游댯游댯游댯游댯游댯游댯游댯游댯游댯游댯游댯游댯游댯游댯游댯游댯游댯游댯

@media screen and (max-width: 1240px) {
  .body {
    main {
      .mainSection {
        .sectionTitle {
          // width: calc(100% - 250px);
          width: calc(100% - 230px);
        }

        .articleSection {
          .outLine {
            // width: calc(100% - 250px);
            width: calc(100% - 230px);

            .articleBox {
              .articleItem {
                .sentenceBox {
                  .articleTitle {
                    // font-size: 1.3rem;
                    font-size: 1.2rem;
                  }

                  .publishedAt {
                    // font-size: 1rem;
                    font-size: 0.9rem;
                  }

                  .sentence {
                    p {
                      // font-size: 0.9rem;
                      font-size: 0.85rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .navSection {
      // width: 250px;
      width: 230px;
    }
  }
}

// 游댮游댮游댮游댮游댮游댮游댮游댮游댮游댮游댮游댮游댮游댮游댮游댮游댮游댮游댮游댮游댮游댮游댮
@media screen and (max-width: 1024px) {
  .body {
    main {
      height: calc(100vh - 350px);
      margin-top: 120px;
      align-items: flex-start;

      .mainSection {
        // border: 3px solid orange;
        height: calc(100vh - 350px);

        .sectionTitle {
          // border: 3px dashed red;
          width: 100%;

          .title {
            // border: 3px dashed blue;
            width: 100%; //游댮游댮游댮
            margin: 0 2rem; //游댮游댮游댮
            justify-content: flex-start;

            h1 {
              font-size: 1.5rem;
            }
          }
        }

        .articleSection {
          // border: 3px solid greenyellow;
          height: calc(100vh - 450px);

          .outLine {
            // border: 3px solid magenta;
            width: 100%;
            min-height: auto;

            .articleBox {
              // border: 3px solid aqua;
              width: 100%;
              min-height: calc(100vh - 500px);
              padding: 0 2rem 3rem; //游댮游댮游댮

              // padding: 0;
              margin: 0;
              @include center;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;

              .articleItem {
                // border: 3px solid red;
                width: 100%;
                width: calc(100% - 2rem); //游댮游댮游댮
                min-height: 200px;
                padding: 1.5rem;

                .sentenceBox {
                  width: calc(100% - 300px);

                  .articleTitle {
                    font-size: 1.2rem;
                  }
                  .publishedAt {
                    font-size: 0.9rem;
                  }

                  .sentence {
                    p {
                      font-size: 0.9rem;
                    }
                  }
                }

                .imageBox {
                  width: 300px;
                  height: 250px;
                }
              }

              .buttonBox {
                // border: 3px solid red;
                width: 100%;
                margin-bottom: 0rem; //游댮游댮游댮

                // .button {
                //   // border: 3px solid blue;
                // }
              }
            }
            .scrollSection {
              display: none; //游댮游댮游댮
            }

            //游댮游댮游댮
            .scrollSectionSecond {
              display: block;
              right: 0.5rem;
              right: 1rem; //游댮游댮游댮
            }
          }
        }
      }
    }

    .navSection {
      // border: 3px solid red;
      width: 100%;
      height: 120px;
      top: 230px;
      left: 0;
      padding: 1rem 2rem;
      flex-direction: row;
      justify-content: space-between;

      .navSectionTitle {
        // border: 3px solid blue;
        width: auto;
        // height: 30px;
        height: auto; //游댮游댮游댮
        margin: 0;
        justify-content: flex-start;

        .title {
          h1 {
            margin: 0;
            font-size: 1.5em;
          }
        }
      }

      ul {
        // border: 3px solid greenyellow;
        height: 80px;
        margin: 0;
        @include center;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 0; //游댠游댠游댠

        li {
          margin-bottom: 0;
          flex-direction: column;
          width: calc(33% - 1rem);
          padding: 0 0.5rem 1rem;

          a {
            // border: 3px solid green;
            width: 100%;
            height: 50px;
            font-size: 0.85rem;
          }
        }
      }
    }
  }
}

// 游리游리游리游리游리游리游리游리游리游리游리游리游리游리游리游리游리游리游리游리游리游리游리

@media screen and (max-width: 800px) {
  .body {
    main {
      height: calc(100vh - 330px); //游리游리游리

      .mainSection {
        height: calc(100vh - 330px); //游리游리游리

        .articleSection {
          height: calc(100vh - 430px); //游리游리游리

          .outLine {
            .articleBox {
              min-height: calc(100vh - 480px); //游리游리游리

              .articleItem {
                min-height: auto; //游리游리游리
                padding: 1.5rem;
                flex-direction: column;

                .sentenceBox {
                  width: 100%; //游리游리游리
                  height: auto; //游리游리游리
                  max-height: 250px; //游리游리游리
                  padding-right: 0rem; //游리游리游리
                  margin-bottom: 1rem;

                  .articleTitle {
                    font-size: 1.2rem;
                  }
                  .publishedAt {
                    font-size: 0.9rem;
                  }

                  .sentence {
                    p {
                      font-size: 0.9rem;
                    }
                  }
                }

                .imageBox {
                  width: 405px;
                  height: 270px;
                }
              }
            }
          }
        }
      }
    }

    .navSection {
      top: 210px; //游리游리游리

      ul {
        li {
          width: calc(50% - 1rem);
        }
      }
    }
  }
}

// 游릮游릮游릮游릮游릮游릮游릮游릮游릮游릮游릮游릮游릮游릮游릮游릮游릮

@media screen and (max-width: 600px) {
  .body {
    main {
      // border: 3px solid red;

      .mainSection {
        .articleSection {
          .outLine {
            .articleBox {
              .articleItem {
                .sentenceBox {
                  .articleTitle {
                    font-size: 1.1rem;
                  }
                  .publishedAt {
                    font-size: 0.9rem;
                  }

                  .sentence {
                    p {
                      font-size: 0.9rem;
                    }
                  }
                }

                .imageBox {
                  // width: 300px;
                  width: 330px;
                  height: 220px;
                }
              }
            }
          }
        }
      }
    }

    .navSection {
      ul {
        li {
          width: 100%; //游릮游릮游릮
          padding: 0 0 1rem; //游릮游릮游릮

          a {
            width: 70%;
          }
        }
      }
    }
  }
}

// 游멇멇멇멇멇멇멇멇멇멇멇멇멇멇멇멇멇멇

@media screen and (max-width: 480px) {
  .body {
    main {
      // border: 1.5px solid red;
      margin-top: 70px; //游멇멇
      height: calc(100vh - 280px); //游멇멇

      .mainSection {
        // border: 1.5px solid blue;
        height: calc(100vh - 280px); //游멇멇

        .sectionTitle {
          height: 80px; //游멇멇
          .title {
            h1 {
              font-size: 1.3rem; //游멇멇
            }
          }
        }

        .articleSection {
          // border: 1.5px solid greenyellow;

          height: calc(100vh - 360px); //游멇멇

          .outLine {
            // border: 1.5px solid magenta;
            .articleBox {
              // border: 1.5px solid aqua;
              min-height: calc(100vh - 410px); //游멇멇

              .articleItem {
                // padding: 1.5rem;
                padding: 1.5rem 1rem; //游멇멇

                .sentenceBox {
                  .articleTitle {
                    font-size: 1.1rem;
                  }
                  .publishedAt {
                    font-size: 0.9rem;
                  }

                  .sentence {
                    p {
                      font-size: 0.8rem; //游멇멇
                    }
                  }
                }

                .imageBox {
                  width: 270px;
                  height: 180px;
                }
              }
            }
          }
        }
      }
    }

    .navSection {
      height: 100px; //游멇멇
      top: 180px; //游멇멇

      .navSectionTitle {
        .title {
          h1 {
            font-size: 1.3em; //游멇멇
          }
        }
      }
      ul {
        height: 70px; //游멇멇

        li {
          padding: 0 0 1rem;

          a {
            height: 40px; //游멇멇
            font-size: 0.8rem; //游멇멇
          }
        }
      }
    }
  }
}
