@mixin title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h4 {
    margin: 0;
  }

  h1 {
    font-size: 2rem;
    margin: 0 0 3rem;
  }
}

.body {
  width: 100%;
  min-height: 100vh;

  .headerSection {
    width: 100%;
    height: 400px;
    background-image: url("/image/mainHeader.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .sentenceSection {
    padding: 5rem;

    .sentence:nth-child(1) {
      margin-bottom: 5rem;
    }

    .sentence {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .titleBox {
        @include title;
        width: 80%;
      }

      p {
        width: 80%;
        font-size: 18px;
        margin: 0;
        line-height: 1.8;
      }
    }
  }

  .linkSection {
    background-color: rgb(178 178 178);
    width: 100%;
    padding: 5rem;

    .linkBox {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;

      .linkItem:nth-child(2) {
        margin: 0 2rem;
      }

      .linkItem {
        width: 33%;
        height: 300px;
        position: relative;

        .linkTitle {
          color: white;
          font-weight: bold;
          font-size: 2rem;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &:hover {
          background-color: black;
          opacity: 0.7;
        }
      }
    }
  }

  .accessSection {
    background-color: white;
    padding: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .titleBox {
      border: 3px solid red;
      @include title;
      width: 90%;
    }

    .accessBox {
      border: 5px solid greenyellow;
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;

      .mapBox {
        border: 5px solid orange;
        width: 45%;

        .mapSize {
          width: 100%;
          height: 400px;
        }
      }

      .addressBox {
        border: 3px solid blue;
        width: 55%;
        height: 100%;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .address:nth-child(4) {
          margin-bottom: 0;
        }

        .address {
          // border: 3px solid magenta;
          border-bottom: 1px solid black;
          display: flex;
          flex-direction: row;
          width: 85%;
          padding-bottom: 0.5rem;
          margin-bottom: 1.5rem;

          .title {
            margin: 0;
            width: 100px;
            font-weight: bold;
            display: flex;
            align-items: center;
          }

          .item {
            margin: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
          }

          .itemBox {
            width: 100%;

            .item:nth-child(1) {
              margin-bottom: 0.8rem;
            }
          }
        }
      }
    }
  }
}

// 🟥🟥🟥🟥🟥🟥🟥🟥🟥🟥🟥🟥

@media screen and (max-width: 1024px) {
  .body {
    .sentenceSection {
      border: 5px solid red;
      padding: 3rem;

      .sentence:nth-child(1) {
        margin-bottom: 3rem;
      }

      .sentence {
        p {
          font-size: 16px;
        }
      }
    }

    .linkSection {
      padding: 3rem;
    }

    .accessSection {
      background-color: pink;

      .accessBox {
        flex-direction: column;

        .mapBox {
          width: 100%;

          .mapSize {
            height: 300px;
          }
        }

        .addressBox {
          border: 3px solid blue;
          width: 100%;

          .address {
            width: 80%;
            padding: 0 1.5rem 0.5rem;
          }
        }
      }
    }
  }
}

// 🟦🟦🟦🟦🟦🟦🟦🟦🟦🟦🟦🟦🟦🟦🟦

@media screen and (max-width: 768px) {
  @mixin title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h4 {
      font-size: 0.8rem;
    }

    h1 {
      font-size: 1.6rem;
      margin: 0 0 2rem;
    }
  }

  .body {
    .headerSection {
      height: 300px;
    }

    .sentenceSection {
      background-color: skyblue;

      .sentence {
        .titleBox {
          @include title;
          width: 100%;
        }

        p {
          width: 100%;
          font-size: 15px;
        }
      }
    }

    .linkSection {
      display: flex;
      justify-content: center;

      .linkBox {
        width: 80%;
        flex-direction: column;

        .linkItem:nth-child(2) {
          margin: 2rem 0;
        }

        .linkItem {
          width: 100%;
          height: 180px;
        }
      }
    }

    .accessSection {
      background-color: white;
      padding: 3rem;
      .titleBox {
        @include title;
        width: 100%;
      }

      .accessBox {
        width: 100%;

        .mapBox {
          width: 100%;

          .mapSize {
            height: 230px;
          }
        }

        .addressBox {
          border: 3px solid blue;
          width: 100%;

          .address {
            font-size: 15px;
            width: 100%;
            padding: 0 1.5rem 0.5rem;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}

// 🟩🟩🟩🟩🟩🟩🟩🟩🟩🟩🟩🟩🟩🟩

@media screen and (max-width: 480px) {
  @mixin title {
    h4 {
      font-size: 0.8rem;
    }

    h1 {
      font-size: 1.6rem;
      margin: 0 0 2rem;
    }
  }

  .body {
    .headerSection {
      height: 250px;
    }

    .sentenceSection {
      background-color: white;

      .sentence {
        .titleBox {
          @include title;
        }
      }
    }

    .linkSection {
      padding: 1.5rem;

      .linkBox {
        width: 100%;

        .linkItem:nth-child(2) {
          margin: 1.5rem 0;
        }
      }
    }

    .accessSection {
      background-color: white;

      .titleBox {
        border: none;
        @include title;
      }

      .accessBox {
        border: none;
        width: 100%;

        .mapBox {
          border: none;
        }

        .addressBox {
          border: none;
          padding: 1.5rem 0;

          .address {
            border-bottom: 1px solid black;

            // border: none;
            font-size: 14px;
            padding: 0 0 0.5rem;

            .title {
              width: 90px;
            }
          }
        }
      }
    }
  }
}

// 🟧🟧🟧🟧🟧🟧🟧🟧🟧🟧🟧🟧🟧

@media screen and (max-width: 390px) {
  @mixin title {
    h4 {
      font-size: 0.8rem;
    }

    h1 {
      font-size: 1.6rem;
      margin: 0 0 1.5rem;
    }
  }

  .body {
    .headerSection {
      height: 250px;
    }

    .sentenceSection {
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1.5rem;
      // padding: 1.5rem 0rem;
      // padding: 1.5rem 0.5rem;
      // padding: 1rem;

      .sentence:nth-child(1) {
        margin-bottom: 1.5rem;
        // margin-bottom: 1rem;
      }

      .sentence {
        width: 100%;
        // width: 80%;

        .titleBox {
          @include title;
        }
      }
    }

    .accessSection {
      background-color: white;
      padding: 1.5rem;

      .titleBox {
        border: none;
        @include title;
      }

      .accessBox {
        border: none;
        width: 100%;

        .mapBox {
          border: none;
        }

        .addressBox {
          border: none;
          padding: 1.5rem 0;

          .address {
            border: none;
            font-size: 14px;
            padding: 0 0 0.5rem;

            .title {
              width: 90px;
            }
          }
        }
      }
    }
  }
}
