@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  width: 100%;
  height: 100px;
  position: relative;
  z-index: 10;
  @include center;

  &::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
  }

  .title {
    @include center;
    flex-direction: column;
    z-index: 10;

    h4 {
      margin: 0;
      color: white;
      font-size: 1rem; //🔥🔥🔥
    }

    h1 {
      font-size: 2.3rem; //🔥🔥🔥

      margin: 0;
      color: white;
    }
  }
}

@media screen and (max-width: 800px) {
  // @media screen and (max-width: 768px) {
  .body {
    height: 100px;
    height: 80px;

    .title {
      h4 {
        font-size: 0.8rem; //🔥🔥🔥
      }

      h1 {
        font-size: 1.8rem; //🔥🔥🔥
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .body {
    // height: 100px;
    height: 80px; //🔥🔥🔥
    top: -30px; //🔥🔥🔥

    .title {
      h4 {
        // font-size: 0.8em;
        font-size: 0.7em; //🔥🔥🔥
      }

      h1 {
        // font-size: 2rem;
        font-size: 1.5rem; //🔥🔥🔥
      }
    }
  }
}
